@import url (https://fonts.google.com/specimen/Roboto);
body{
    background-color: sienna;
    background-color: rgba(0,255,0,1.0);/* rgb - 255 */
    background-color: lightcyan;


    /* write a comment in css*/
}

header{
    width: 960px;
    background-color: lightskyblue;
    height: auto;
    padding: 20px; 
    border: 5px solid plum;
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    text-align: center;
    font-weight: 500;

}

main{
    width: 960px;
    background-color: blue;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-left: 5px dotted green;
    border-right: 5px dotted green;
    margin-left: auto;
    margin-right: auto;
}

footer{
    width: 960px;
    height: 50px;
    background-color: lightgoldenrodyellow; 
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

        h1 {

            font-family: sans-serif;
            text-align: center;
            font-weight: 100;
            font-style: italic;
            font-size: 40;
        }

        h2 {
            font-family: cursive;
            text-transform: capitalize; 
        }

        ul {
            list-style: square;
        }

        ul li {
            color: blue; 
        }

        li {
            text-decoration: underline;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color: blue;
        }

        img{
            width: 300px;
        }

        .imageGallery{ 
            width: 200px
        }

        .green{ 
            color: green;
        }

        .greyBackground{ 
            background-color: rgba(red, green, blue, alpha)
        }

        nav{
            width: 400px;
            margin: 0px auto;
            border-bottom: black 1px solid;

        }

        nav ul{

        }

        nav ul li{
                list-style: none;
                display: inline-block;
                margin-left: 50px;
                text-decoration: none;
        }

        nav ul li a{
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-size: 20px;
                    font-weight: 900;
                    color: black;

        }

        nav ul li a:hover{
                    background-color: aliceblue;
        }