/* Correct Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: lightcyan;
    font-family: "Roboto", sans-serif;
}

/* Header Styling */
header{
    width: 960px;
    background-color: #41AADE;
    padding: 20px; 
    border: 5px solid teal;
    margin: 0 auto 10px auto;
    text-align: center;
    font-weight: 500;
}

main{
    width: 960px;
    background-color: #41AADE;
    padding: 20px;
    border-left: 5px dotted teal;
    border-right: 5px dotted teal;
    margin: 0 auto;
}

footer{
    width: 960px;
    background-color: paleturquoise; 
    padding: 20px;
    margin: 0 auto;
}

/* Styled Headings */
h1 {
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 40px; /* fixed */
}

h2 {
    font-family: cursive;
    text-transform: capitalize; 
}

/* List Styling */
ul {
    list-style: square;
}
ul li {
    color: blue; 
}
li {
    text-decoration: underline;
}

/* Link Styling */
a {
    text-decoration: none;
}
a:hover {
    color: blue;
}

/* Gallery Styling */
.imageGallery { 
    width: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;

/* Classes */
.navy { 
    color: navy;
    font-weight: bold;
}
.greyBackground { 
    background-color: rgba(200,200,200,0.3);
    padding: 10px;
    border-radius: 8px;
}

/* Navigation Styling */
nav{
    width: 800px;
    margin: 0 auto;
    border-bottom: black 1px solid;
}
nav ul{
    padding: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}
nav ul li a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: black;
}
nav ul li a:hover{
    background-color: aliceblue;
    color: darkblue;
}
