@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: lightcyan;
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: white; 
}

header {
    width: 960px;
    background-color: lightskyblue;
    padding: 20px; 
    border: 5px solid teal;
    margin: 0 auto 10px auto;
    text-align: center;
}

h1 {
    font-weight: 100;
    font-style: italic;
    font-size: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white; 
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: blue; 
}

main {
    width: 960px;
    background-color: lightskyblue;
    padding: 20px;
    border-left: 5px dotted teal;
    border-right: 5px dotted teal;
    margin: 0 auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize; 
}

main ul, main ol {
    color: white; 
}

main li {
    text-decoration: underline;
}

main ul li a {
    color: white; 
}

main ul li a:hover {
    color: blue;
}

.imageGallery { 
    width: 200px;
    margin: 10px;
}

footer {
    width: 960px;
    background-color: paleturquoise; 
    padding: 20px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.green { color: green; } 
.greyBackground { background-color: rgba(240,240,240,0.6); }
